.DS_Store
/Quality_Scoring_Functions/Scoring_Functions/DeepRank_GNN_esm/DeepRank_Analysis/.ipynb_checkpoints
/Quality_Scoring_Functions/Scoring_Functions/GNN_Dove/Dove_analysis/.ipynb_checkpoints
.DS_Store
.DS_Store
