.DS_Store
/Quality_Scoring_Functions/Scoring_Functions/DeepRank_GNN_esm/DeepRank_Analysis/.ipynb_checkpoints
/Quality_Scoring_Functions/Scoring_Functions/GNN_Dove/Dove_analysis/.ipynb_checkpoints
.DS_Store
.DS_Store
Analysis/Heatmaps_Spearman_Correlation/.ipynb_checkpoints/Heatmaps_Spearman_correlation-checkpoint.ipynb
Analysis/Heatmaps_Spearman_Correlation/.ipynb_checkpoints/Heatmaps,Spearman_correlation-checkpoint.ipynb
Analysis/Heatmaps_Spearman_Correlation/.ipynb_checkpoints/Merged_Common_data-checkpoint.ipynb
Quality_Scoring_Functions/Quality_Functions/DockQ/DockQ_Evaluation/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Quality_Scoring_Functions/Quality_Functions/DockQ/DockQ_Evaluation/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
Quality_Scoring_Functions/Quality_Functions/DockQ/DockQ_Evaluation/.ipynb_checkpoints/Untitled2-checkpoint.ipynb
